.coursesCard {
    -webkit-transform: translate3d(0, 100%, 0);
    -webkit-transition: 0.4s all cubic-bezier(.42,1.14,.56,1.06);
    width: 590px;
    margin: 0 auto;
    border-radius: 10px;
    /*box-shadow: 0 0px 84px 0px hsla(200, 60%, 30%,1);*/

    /* this was only activated on full size previously, but I took it here for performance consideations on iPhone 4 */
    box-shadow: 0 20px 84px 0px hsla(220, 40%, 10%,1);
}

.coursesCard .bg {
    background: rgba(145,225,195,.53);
    opacity: 1;
    -webkit-transition: 0.5s all cubic-bezier(.42,1.14,.56,1.06);
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 10px;
}

.coursesCard .bg2 {
    background: url('../img/bg2.png') bottom;
    opacity: .9;
    -webkit-transition: 0.5s all cubic-bezier(.42,1.14,.56,1.06);
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    border-radius: 10px;
}

.coursesCard.on .bg {
    opacity: 0;
}

.coursesCard.on .bg2 {
    opacity: 1;
}

.coursesCard.tab {
    -webkit-transform: translate3d(0, calc(100% - 250px), 0);
}

.coursesCard.on {
    -webkit-transform: translate3d(0, 0%, 0);
}

.coursesCard .list {
    padding: 0 20px 20px;
    z-index: 2;
}

.coursesCard .count {
    padding: 25px 0 25px 25px;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 20px;
    z-index: 2;
    -webkit-transform: translate3d(0,0,0);
}

.courses.root.view {
    width: 100%;
}

.coursesList.view {
    width: 100%;
}

.coursesCard .courses.list .item {
    background: none;
}

.coursesCard .courses.list .item .icon {
    display: none;
}

.coursesCard .courses.list {
    padding: 0;
    overflow: scroll;
    top: 120px;
    bottom: 140px;
    position: absolute;
}

.coursesCard .courses.list h3 {
    width: 565px;
}
