.coursesCard {
    -webkit-transform: translate3d(0, 100%, 0);
    -webkit-transition: 0.45s all cubic-bezier(.42,1.14,.56,1.06);
    width: 100%;
    /*box-shadow: 0 0px 84px 0px hsla(200, 60%, 30%,1);*/

    /* this was only activated on full size previously, but I took it here for performance considerations on iPhone 4 */
    box-shadow: 0 26px 74px 20px hsla(200, 100%, 19%,1);
    z-index: 9999;
}

.coursesCard .bg {
    background: rgba(155,255,225,.4);
    -webkit-transition: 0.5s all cubic-bezier(.42,1.14,.56,1.06);
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.coursesCard .bg2 {
    background: url('../img/bg2.png') bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .7;
    -webkit-transition: 0.5s all cubic-bezier(.42,1.14,.56,1.06);
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.coursesCard.on .bg {
    opacity: 0;
}

.coursesCard.on .bg2 {
    opacity: 0.96;
}

.coursesCard.tab {
    -webkit-transform: translate3d(0, calc(100% - 250px), 0);
}

.coursesCard.on {
    -webkit-transform: translate3d(0, 0%, 0);
}

@-webkit-keyframes hop {
    from { -webkit-transform: translate3d(0,calc(100% - 250px),0); }
    18% { -webkit-transform: translate3d(0,calc(100% - 330px),0); -webkit-animation-timing-function: ease-in; }
    60% { -webkit-transform: translate3d(0,calc(100% - 230px),0); }
    72% { -webkit-transform: translate3d(0,calc(100% - 260px),0); -webkit-animation-timing-function: ease-in-out; }
    92% { -webkit-transform: translate3d(0,calc(100% - 250px),0); }
}

.coursesCard .list {
    padding: 0 20px 20px;
    z-index: 2;
}

.coursesCard .count {
    padding: 23px 25px 25px 25px;
    font-size: 56px;
    font-weight: 200;
    margin-bottom: 20px;
    z-index: 3;
    -webkit-transform: translate3d(0,0,0);
    text-align: center;
    border-bottom: 1px solid rgb(85,105,145);
}

.courses.root.view {
    width: 100%;
}

.coursesList.view {
    width: 100%;
}

.coursesCard .courses.list .item {
    background: none;
}

.coursesCard .courses.list .item .icon {
    display: none;
}

.coursesCard .courses.list {
    padding: 0;
    overflow: scroll;
    top: 117px;
    bottom: 140px;
    width: 100%;
    position: absolute;
}

.coursesCard .courses.list h3 {
    width: 565px;
}
