html, body {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

body {
    color: white;
    background: url(../img/bg.png) no-repeat;
    font-size: 24px;
    text-align: left;
    -webkit-perspective: 1500;
}

body, input, textarea {
    font-family: Helvetica Neue, Helvetica, Arial;
    -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4 {
    font-weight: 200;
}



a {
    color: white;
}

#bg {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transform: translate3d(0%, 0%, 0);
    -webkit-transition: 0.6s all;
    -webkit-transform-origin: 100% 50%;
}

#app {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-transition: 0.35s -webkit-transform;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform-origin: 100% 100%;
}

#common {
    height: 100%;
}

.header {
    height: 90px;
    z-index: 1;
    -webkit-transform: translate3d(0,0,0);
}

.device .header {
    height: 130px;
}

.view {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow-x: hidden;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
}

#app.sidebarOn {
    -webkit-transform: translate3d(-480px, 0, 0) rotateY(50deg) scale(0.95);
    /*opacity: 0.5;*/
    /*box-shadow: 0 0 30px rgba(0,0,0,0.4);*/
}

.widgetPlaceholder {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#content {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

#blockerOverlay { width: 100%; height: 100%; position: absolute; z-index: -5;}
#blockerOverlay.active { z-index: 5;}

.view.transition {
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

::-webkit-input-placeholder { color: rgba(255,255,255,0.2); }

.sizer {
    position: absolute;
    top: -100%;
    left: -100%;
}

.scrollFixer {
    position: absolute;
    z-index: -1;
    height: 101%;
    width: 50%;
}
