.searchList > .search {
    top: -20px;
}

.searchList .icon-search {
    top: 50px;
    left: 45px
}

.root.view {
    width: 300%;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.searchList {
    padding-top: 88px;
}

.device .searchList.view {
    padding-top: 128px;
}

.courses .item {
    height: 148px;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 20px 0 20px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.3s background-color;
}

.courses .item:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.courses .item.selected {
    background: hsla(110, 50%, 40%, 0.3);
}

.courses .item p {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -1px;
    color: rgba(255,255,255,0.6);
}

.courses h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 605px;
}

.courses h4 {
    font-size: 24px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    margin: 3px 0 6px;
}

.searchList .clear {
    position: absolute;
    right: 40px;
    top: 35px;
    height: 50px;
    width: 50px;
    padding: 16px;
}

.searchList .list {
    position: absolute;
    top: 200px;
    bottom: 0;
    overflow-y: scroll;
    width: 100%;
    padding-bottom: 120px;
}

.searchList .list .empty {
    font-size: 60px;
    font-weight: 100;
    margin: 50px;
    text-align: center;
}

.device .searchList .list {
    top: 220px;
}

.searchList input {
    height: 64px;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    border-radius: 8px;
    border: none;
    width: 580px;
    padding: 10px 10px 10px 60px;
    font-size: 24px;
    font-weight: 400;
    margin: 0 30px;
}
