.searchList > .search {
    top: -20px;
}

.searchList .icon-search {
    top: 50px;
    left: 45px
}

.root.view {
    width: 300%;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.searchList {
    padding-top: 88px;
    -webkit-transform: translate3d(100%, 0, 0);
}

.device .searchList.view {
    padding-top: 128px;
}

.search {
    border-bottom: 1px solid rgb(60,80,110);
    width: 100%;
    height: 113px;
    z-index: 2;
}

.courses .item {
    height: 148px;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 20px 0 20px 20px;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    /*-webkit-transition: 0.3s background-color;*/
    -webkit-transform-origin: 0% 100%;
    -webkit-transform: translate3d(0,0,0);
}

.searchList .item .icon {
    position: absolute;
    right: 0px;
    top: 65px;
    font-size: 40px;
    font-weight: 100;
    opacity: 0.2;
}

.courses .item:active {
    /*background-color: rgba(0, 0, 0, 0.2);*/
}

.courses .item.selected {
    background: hsla(110, 50%, 40%, 0.3);
}

.courses .item p {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -1px;
    color: rgba(255,255,255,0.6);
}

.courses h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 605px;
}

.courses h4 {
    font-size: 24px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    margin: 3px 0 6px;
}

.searchList .clear {
    position: absolute;
    right: 40px;
    top: 35px;
    height: 50px;
    width: 50px;
    padding: 16px;
    z-index: 3;
}

.searchList form {
    z-index: 2;
}

.searchList .list {
    position: absolute;
    top: 200px;
    bottom: 0;
    overflow-y: scroll;
    width: 100%;
    padding-bottom: 120px;
}

.searchList .list .empty {
    font-size: 40px;
    font-weight: 100;
    margin: 50px;
    text-align: center;
    letter-spacing: 1px;
}

.searchList .list .empty p {
    margin: 40px 0;
}

.device .searchList .list {
    top: 220px;
}

.searchList input {
    height: 64px;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    border-radius: 8px;
    border: none;
    width: 580px;
    padding: 10px 10px 10px 60px;
    font-size: 24px;
    font-weight: 400;
    margin: 0 30px;
}

.detail.view {
    -webkit-transform: translate3d(200%,0, 0);
}

.detail.view {
    padding: 0 20px 80px;
    height: auto;
    top: 88px;
    bottom: 0;
}

.device .detail.view {
    top: 128px;
}

.detail.view h1 {
    font-weight: 400;
    font-size: 86px;
    margin: 30px 0;
}

.detail.view h2 {
    font-weight: 200;
    font-size: 48px;
    line-height:140%;
    margin: 30px 0;
}

.detail.view h1, .detail.view h2, .detail.view .id {
    text-align: center;
}

.detail.view .id {
    font-weight: 300;
}

.detail.view ol {
    margin: 0 30px;
}

.detail.view ol li {
    font-size: 48px;
    font-weight: 200;
    padding-top: 10px;
    margin: 50px 30px;
    height: 170px;
    color: rgba(255,255,255,0.5);
}

.detail.view .lecture {
    position: absolute;
    top: 0;
    font-size: 24px;
    font-weight: 200;
    line-height: 120%;
    color: white;
}

.detail.view h3 {
    font-size: 48px;
    font-weight: 500;
}

.detail.view h4 {
    font-size: 36px;
    font-weight: 500;
}

.detail.view h3, .detail.view h4, .detail.view h5 {
    line-height: 120%;
    margin: 0;
}

.detail.view h5 {
    font-size: 36px;
    font-weight: 300;
    color: rgba(255,255,255,0.5);
}

.detail.view h2 + p {
    padding: 0 30px;
    line-height: 160%;
    text-align: justify;
}

@-webkit-keyframes selection {
    from { -webkit-transform: translate3d(0,0,0); }
    30% { -webkit-transform: translate3d(-120px,0,0) rotate(-2deg); -webkit-animation-timing-function: ease-in; }
    60% { -webkit-transform: translate3d(0,0,0); }
}

.schedule.view {
    padding: 0 20px;
    height: auto;
    top: 88px;
    bottom: 0;
}

.device .schedule.view {
    top: 128px;
}

.schedule.view .titles h2 {
    font-weight: 400;
    float: left;
    text-align: center;
    width: 20%;
}

.schedule.view .days {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    padding: 0 20px 20px 20px;
}

.schedule.view .titles {
    height: 66px;
    border-bottom: 1px solid rgb(55,75,95);
    z-index: 2;
}

.schedule.view .day {
    float: left;
    width: 120px;
    text-align: center;
    min-height: 101%;
}

.schedule.view .hasSaturday .day,
.schedule.view .titles.hasSaturday h2 {
    width: 100px;
}

.schedule.view .day h2 {
    line-height: 35px;
    font-weight: 400;
}

.schedule.view .lecture {
    box-shadow: 0 1px hsla(0, 100%, 100%, 0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    background: rgba(255,255,255,0.03);
    padding: 5px 0;
    position: absolute;
    width: 100%;
    font-weight: 400;
    z-index: 1;
}

.schedule.view .time {
    font-size: 16px;
    opacity: 0.7;
    font-weight: 700;
}
